#config {

    .ant-select {
        width: 100%;
        margin-left: 20px;

        .ant-select-selector {
            background: #f1f1f1;
            line-height: 2.5em;
            border-radius: 20px;
            border: none;
        }
    }

    .ant-picker {
        width: 100%;
        margin-left: 20px;
        background: #f1f1f1;
        border: none;
        border-radius: 20px;

        input {
            line-height: 2em;
        }
    }

    .title-box {
        margin-top: 20px;

        h2,
        h4 {
            color: #7C7FE9;
        }

        h2 {
            font-size: 2.5em;
        }

        h4 {
            margin: 30px 0;
            font-size: 1.5em;
            font-weight: 800;
        }
    }

    .form {
        padding: 0 40px;
    }
}