:root {
  --header-background-color: #a3ddd2;
  --header-nav-menu-color: #a3ddd2ea;
}

#header {
  z-index: 999;
  width: 100%;
  position: absolute;

  a,
  p {
    color: white;
  }

  &.purple {
    a,
    p {
      color: #7c7fe9;
    }
  }

  .header-logo {
    width: 200px;
  }

  li {
    margin-left: 30px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: border 250ms ease-in-out;
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid white;
    }
  }

  ul :first-child {
    margin-left: 0;
  }

  .btn-outline {
    &.purple {
      border-color: #7c7fe9;
      color: #7c7fe9;
    }
  }

  .nav-menu-toggle {
    display: none;
  }

  .header-btn-container {
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem;
    justify-content: center;
    gap: 0.5rem;
  }

  .header-btn-container > * {
    flex-basis: 100%;
  }

  .header-menu-btn-primary,
  .header-menu-btn-secondary {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.625rem 1rem;
    min-width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-menu-btn-primary {
    height: 2.5rem;
    cursor: pointer;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 1.875rem;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    background: #a092f9;
    -webkit-box-shadow: -5px 6px 61px 0px rgba(160, 146, 249, 0.5);
    -moz-box-shadow: -5px 6px 61px 0px rgba(160, 146, 249, 0.5);
    box-shadow: -5px 6px 61px 0px rgba(160, 146, 249, 0.5);

    &.small {
      font-size: 0.8em;
      max-width: 10rem;
      padding: 0.2rem 1.2rem;
    }
  }

  .header-menu-btn-primary img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.5em;
  }

  .header-menu-btn-primary:hover,
  .header-menu-btn-primary:active {
    color: white;
    background: #4cdbb1;
  }

  .header-menu-btn-secondary {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 800;
    border-radius: 1.875rem;
  }

  .header-menu-btn-secondary:hover {
    color: white;
  }
}

@media screen and (max-width: 1100px) {
  #header .header-btn-container {
    margin-bottom: 0.2rem;
    flex-wrap: wrap;
    width: 100%;
  }

  #header .header-btn-container > * {
    flex: 0 1 33%;
  }
}

@media screen and (max-width: 800px) {
  #header {
    background-color: var(--header-background-color);
    width: 100%;
    position: relative;
    justify-content: center;
    flex-direction: column;
  }

  #header a,
  #header p {
    color: white;
  }

  #header .purple {
    a,
    p {
      color: #7c7fe9;
    }
  }

  #header .header-logo {
    width: 200px;
  }

  #header .nav-menu-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #header .nav-menu-toggle-label span,
  #header span::before,
  #header span::after {
    white-space: nowrap;
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  #header span::before,
  #header span::after {
    content: "";
    position: absolute;
  }

  #header span::before {
    bottom: 7px;
  }

  #header span::after {
    top: 7px;
  }

  #header ul {
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: var(--header-nav-menu-color);
    position: absolute;
    top: 100%;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
  }

  #header ul :last-child {
    margin-bottom: 0;
  }

  #header li {
    padding: 0 1rem;
    margin-left: 0;
    margin-bottom: 1em;
    font-weight: 600;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  #header .btn-outline {
    &.purple {
      border-color: #7c7fe9;
      color: #7c7fe9;
    }
  }

  #header .menu-btn:hover {
    cursor: pointer;
    border: none;
    padding-bottom: 0px;
  }

  #header .nav-menu-toggle:checked ~ ul {
    transform: scale(1, 1);
  }

  #header .nav-menu-toggle:checked ~ ul li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  #header .header-btn-container {
    margin-bottom: 0.2rem;
    flex-wrap: wrap;
    width: 100%;
  }

  #header .header-btn-container > * {
    flex: 0 1 33%;
  }

  #header .header-menu-btn-secondary {
    margin: 0;
    width: 100%;
  }
}
