#footer {
    background: #c4ffec;
    color: #a6a8fb;

    div {
        max-width: 400px;
    }

    .footer-logo {
        height: 70px;
    }

    .title {
        font-weight: 900;
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .social-list {
        li {
            background: #a6a8fb;
            width: 60px;
            height: 60px;
            border-radius: 50px;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }

    .text {
        font-weight: 600;
        font-size: 1.1em;
        line-height: 1.4em;
    }

    .link-list {
        list-style: disc;
    }
}