#personal-client {
  margin-bottom: 100px;

  img {
    width: 200px;
  }

  .title-box {
    margin-top: 20px;

    h2,
    h4 {
      color: #7c7fe9;
    }

    h2 {
      font-size: 2.5em;
    }

    h4 {
      margin: 30px 0;
      font-size: 1.5em;
      font-weight: 800;
    }
  }

  .green-ball,
  .purple-ball {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .green-ball {
    background-color: #57dac1;
  }

  .ant-upload {
    border-radius: 20px;

    button {
      background: #f1f1f1;
      border-radius: 20px;
      padding: 0px 30px;
    }
  }

  .ant-upload > span {
    margin-left: 1rem;
  }

  .purple-ball {
    background-color: #7c7fe9;
  }

  .form {
    padding: 0 40px;

    .ant-row {
      margin: 10px 0;
      align-items: center;
    }
  }
}

@media screen and (max-width: 800px) {
  #personal-client .ant-upload button {
    padding: 0 1rem;
  }

  #personal-client .form {
    padding: 0 0.2rem;
  }

  #personal-client .form .ant-row .ant-col {
    min-width: 7rem;
    flex: 1 1 40%;
  }

  #personal-client .form .ant-input {
    margin-left: 0;
  }
}
